$theme-surface-color: #0a192f;
$theme-element-unselected-color: #ccd6f6;
$theme-element-selected-color: #64ffda;
$theme-text-color: #e8e8e8;
$theme-text-action-color: #b6b6b6;
$theme-text-highlight-color: #64ffda;

$default-margin-quarter: 3px;
$default-margin-half: 6px;
$default-margin: 12px;
$default-margin-double: 24px;
$default-margin-quadruple: 48px;

$contact-link-font-size: small;

$social-icon-size: 24px;