@import '../styles/global';
@import "../styles/variables";

.page-container {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-bottom: 100px;
    margin:0 auto;
}

@media only screen and (min-width: 901px) {
    .content {
        max-width: 600px;
    }
}

@media only screen and (min-width: 1001px) {
    .content {
        max-width: 700px;
    }
}

@media only screen and (min-width: 1101px) {
    .content {
        max-width: 800px;
    }
}

@media only screen and (min-width: 1201px) {
    .content {
        max-width: 960px;
    }
}

.side-container {
    width: 120px;
    position: fixed;
    margin: auto auto;
}

@media only screen and (max-width: 900px) {
    .side-container {
        display: none;
    }

    .content {
        padding: 0 20px;
    }
}

.side-container-left {
    @extend .side-container;
    bottom: 0px;
    left: 0px;
}

.side-container-right {
    @extend .side-container;
    bottom: 0px;
    right: 0px;
}

.side-container-content {
    position: relative;
    margin: auto;
}