@import '../styles/global';
@import "../styles/variables";

.page-container {
    position: relative;
    min-height: 100vh;
    background-color: $theme-surface-color;
}

.content {
    padding-bottom: 100px;
    margin:0 auto;
    max-width: $site-width;
}

.side-container {
    width: 120px;
    position: fixed;
    margin: auto auto;
}

.side-container-left {
    @extend .side-container;
    bottom: 0px;
    left: 0px;
}

.side-container-right {
    @extend .side-container;
    bottom: 0px;
    right: 0px;
}

.side-container-content {
    position: relative;
    margin: auto;
}